Flask==0.10.1
Flask-RESTful==0.2.12
Jinja2==2.7.3
MarkupSafe==0.23
PAM==0.4.2
PyYAML==3.11
Twisted-Core==13.2.0
Werkzeug==0.15.3
aniso8601==0.83
argparse==1.2.1
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
decorator==3.4.0
html5lib==0.999
iotop==0.6
ipython==2.3.0
itsdangerous==0.24
networkx==1.9.1
numpy==1.9.1
pandas==0.15.0
pyOpenSSL==0.13
pymongo==2.7.2
pyserial==2.6
python-apt==0.9.3.5
python-dateutil==2.2
python-debian==0.1.21-nmu2ubuntu2
pytz==2014.9
requests==2.2.1
six==1.5.2
ssh-import-id==3.21
urllib3==1.7.1
virtualenv==1.11.6
wsgiref==0.1.2
zope.interface==4.0.5
